.mobile{
    display: block;
    background-color: greenyellow;
}

.tab{
    display: none;
}

.laptop{
    display: none;
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .tab {
        display: block;
        background-color: aqua;
    }
}

@media (min-width: 1024px) {
    .mobile {
        display: none;
    }
    .tab {
        display: none;
    }
    .laptop {
        display: block;
        background-color: plum;
    }
}

/* //1280,1536 */