.btn{
    background-color: black;
    color: white;
    /* transition-delay: 2s; */
}

.btn:focus{
    background-color: aqua;
    color: bisque;
    transition-delay: 2s;
    transition-duration: 5s;
    transition-property: background-color,color;
}

.parent{
    height: 200px;
    width: 200px;
    background-color: blue;
    border: 2px black solid;
}

.child{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px black solid;
}

.child:hover{
    background-color: green;
    border-radius: 50%;
    transform: translateY(100px);
    
}